In [1]:
'Hi'

'Hi'

In [2]:
value=2*1+1-(2*5)

In [3]:
print(value)

-7

In [17]:
value=(2*(1+1)-2)*5

In [18]:
print(value)

10

In [19]:
import math

In [20]:
math.factorial(6)

720

In [21]:
math.sqrt(121)

11.0

In [22]:
math.pi

3.141592653589793

In [23]:
math.e

2.718281828459045

In [24]:
degree=45

In [25]:
radians=math.radians(degree)

In [26]:
radians

0.7853981633974483

In [30]:
math.sin(radians)

0.7071067811865475

In [31]:
math.cos(radians)

0.7071067811865476

In [32]:
math.tan(radians)

0.9999999999999999

In [37]:
circles=50
radius=98
price=87
pi=3.14

area=pi*radius**2
total_area =area*circles
total_price = total_area * price
total_price

131181036.0

In [38]:
circles=50
radius=98
price=87
pi=math.pi

area=pi*radius**2
total_area =area*circles
total_price = total_area * price
total_price

131247572.92608222

In [2]:
a=2012
b=1999
c=4
if a%c==0:
     print('a is leap year')
if b%c==0:
     print('b is leap year')

a is leap year

In [7]:
x=8
if x== 0:
       print ('number is 0')
elif x>0:
       print('number is positive')
else:
       print('number is negative')

number is positive

In [8]:
age=input('enter your age')
age = int(age) 
age

88

In [9]:
print ('comedy') if age<8 else print('horror')

horror

In [12]:
movies=input('enter the movies')

In [14]:
match movies:
    case 'horror':
        print('hollywood movies')
    case 'comedy':
        print('korean movies')
    case 'animated':
        print('hollywood and korean')
    case _:
        print('none recomended')

hollywood movies

In [15]:
movie=input('is movie a god choice?')
playbar=input('is playbar a bad choice?')

In [16]:
print(movie,playbar)

yes no

In [18]:
if movie== 'good' and playbar=='good':
    print ('today was fun')
else:
    print('today was not so fun')

today was not so fun

In [19]:
sky=input('is looking like a cotton candy?')
beach=input('is beach a fun place')

In [20]:
print(sky,beach)

yes yes

In [22]:
if sky=='yes' or beach=='yes':
    print('exciting')
else :
    print('boring')

exciting

In [23]:
x=[10,20,30,40,50]
x

[10, 20, 30, 40, 50]

In [25]:
type(x)

list

In [26]:
x.append(40)

In [27]:
x

[10, 20, 30, 40, 50, 40]

In [48]:
x.insert(2,50)

In [49]:
x

[10, 20, 50, 30, 40]

In [52]:
x.remove(30)
x

[10, 20, 40]

In [36]:
x.pop()

40

In [38]:
x.count(40)

1

In [39]:
x.index(10)

0

In [41]:
max(x)

50

In [42]:
min(x)

10

In [43]:
sum(x)

150

In [44]:
x.sort()

In [45]:
x

[10, 20, 30, 40, 50]

In [2]:
y=[1,2,3,4,5]

In [3]:
y.reverse()

In [4]:
y

[5, 4, 3, 2, 1]

In [7]:
movies=('horror','comedy','action','adventure','animated','crime','triller')

In [13]:
type(movies)

tuple

In [17]:
movies.index('horror')

0

In [18]:
movies.count('comedy')

1

In [20]:
len(movies)

7

In [21]:
 x1={1,2,3}
x2={2,4,5,6}

In [23]:
x1.union (x2)

{1, 2, 3, 4, 5, 6}

In [24]:
x2.union (x1)

{1, 2, 3, 4, 5, 6}

In [25]:
x1.intersection (x2)

{2}

In [26]:
x1.difference(x2)

{1, 3}

In [27]:
x2.difference(x1)

{4, 5, 6}

In [28]:
x=7
y=8

In [29]:
x>y

False

In [30]:
x<y

True

In [31]:
w=6
h=6

In [32]:
w==h

True

In [33]:
w>=h

True

In [34]:
w<=h

True

In [35]:
w<h

False

In [36]:
w>h

False

In [38]:
place='paris'

In [40]:
'p' in place

True

In [41]:
'i' in place

True

In [42]:
'v' in place

False

In [43]:
type(place)

str

In [44]:
dinner=input('do you come with me for a candle light dinner? yes or no :')

In [45]:
if  dinner =='yes':
    print('i will catch you soon at dinner')

i will catch you soon at dinner

In [46]:
if dinner:  
    print('i will catch you soon at dinner')

i will catch you soon at dinner

In [3]:
score={
    'english':10,
    'chemistry':9,
    'physics':8,
    'math':9
}

In [4]:
score

{'english': 10, 'chemistry': 9, 'physics': 8, 'math': 9}

In [5]:
students={}

In [8]:
students[101]='aavni'
students[102]='ala'
students[103]='vaall'

In [9]:
students

{101: 'aavni', 102: 'ala', 103: 'vaall'}

In [10]:
students.pop(101)

'aavni'

In [11]:
students

{102: 'ala', 103: 'vaall'}

In [12]:
students[102]

'ala'

In [13]:
students[103]='kamaal'

In [14]:
students

{102: 'ala', 103: 'kamaal'}

In [17]:
students.values()

dict_values(['ala', 'kamaal'])

In [21]:
'ala' in students.values()

True

In [28]:
students.get(102)

'ala'

In [34]:
'kamaal' in students.values()

True

In [33]:
'aavni' in students.values()

False

In [35]:
len(students)

2

In [41]:
nuts=['dates','badam','pista','almonds','walnuts']
nuts

['dates', 'badam', 'pista', 'almonds', 'walnuts']

In [42]:
for nut in nuts:
    print(nut)

dates
badam
pista
almonds
walnuts

In [43]:
sent='.._'

In [44]:
for item in sent:
    print(item)

.
.
_

In [45]:
numbers=range(5)

In [46]:
numbers

range(0, 5)

In [47]:
for number in numbers:
    print(number)

0
1
2
3
4

In [48]:
numbers=range(8,16)
numbers

range(8, 16)

In [49]:
for number in numbers:
    print(number)

8
9
10
11
12
13
14
15

In [50]:
numbers=range(1,12,4)
numbers

range(1, 12, 4)

In [51]:
for number in numbers:
    print(number)

1
5
9

In [52]:
sports=['basket ball','batmitton','chess','volley ball']

In [53]:
for items in sports:  
    print(items)

basket ball
batmitton
chess
volley ball

In [35]:
for r in range(1,5):
    for c in range(1,r):
        print(c,end='')  
    print()

1
12
123